@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layoutv1";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@
<style>
    #tes {
        background-image: url(assets/Custom/Images/logo-1.jpeg); background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
</style>
<div id="tes"></div>